:root {
    --second-color: #f6f6f6;
    --background-color: #F1F5F9;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* start box  */
    .d-flex {
        display: flex;
    }
    .flex-column {
        flex-direction: column;
    }
    .align-center {
        align-items: center;
    }
    .space-between {
        justify-content: space-between;
    }
    .space-around {
        justify-content: space-around;
    }
    .content-center {
        justify-content: center;
    }
    .d-grid {
        display: grid;
    }
    .gap-20 {
        gap: 20px;
    }
    .d-block {
        display: block;
    }
/* End box  */

/* Start components */
    .between-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .center-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
/* End components */

/* Mobile  */
    @media (max-width: 767px ) {
        .hide-mobile {
            display: none;
        }
    }
    @media (max-width: 767px ) {
        .txt-c-mobile {
            text-align: center;
        }
    }
    @media (max-width: 767px ) {
        .flex-column-mobile {
            flex-direction: column;
        }
    }

/* Mobile  */

/* Start padding + margin */
    .p-6 {
        padding: 6px;
}
    .p-10 {
        padding: 10px;
}
    .p-15 {
        padding: 15px;
    }
    .p-20 {
        padding: 20px;
    }
    .p-25 {
        padding: 25px;
    }
    .p-0 {
        padding: 0;
    }
    .pr-10 {
        padding-right: 10px;
    }
    .pl-15 {
        padding-left: 15px;
    }
    .pl-20 {
        padding-left: 20px;
    }
    .pl-30 {
        padding-left: 30px;
    }
    .pt-10 {
        padding-top: 10px;
    }
    .pt-15 {
        padding-top: 15px;
    }
    .pt-20 {
        padding-top: 20px;
    }
    .pt-30 {
        padding-top: 30px;
    }
    .pb-10 {
        padding-bottom: 10px;
    }
    .pb-15 {
        padding-bottom: 15px;
    }
    .pb-20 {
        padding-bottom: 20px;
    }
    .pb-30 {
        padding-bottom: 30px;
    }
    .m-0 {
        margin: 0;
    }
    .m-20 {
        margin: 20px;
    }
    .m-15 {
        margin: 15px;
    }
    .m-20 {
        margin: 20px;
    }
    .mt-0 {
        margin-top: 0;
    }
    .mt-5 {
        margin-top: 5px;
    }
    .mt-6 {
        margin-top: 6px;
    }
    .mt-10 {
        margin-top: 10px;
    }
    .mt-15 {
        margin-top: 15px;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .mt-30 {
        margin-top: 30px;
    }
    .mb-0 {
        margin-bottom: 0;
    }
    .mb-6 {
        margin-bottom: 6px;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mb-25 {
        margin-bottom: 25px;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .mb-35 {
        margin-bottom: 35px;
    }
    .mb-40 {
        margin-bottom: 40px;
    }
    .mb-50 {
        margin-bottom: 50px;
    }
    .ml-auto {
        margin-left: auto;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .ml-15 {
        margin-left: 15px;
    }
    .ml-30 {
        margin-left: 30px;
    }
    .ml-40 {
        margin-left: 40px;
    }
    .mr-0 {
        margin-right: 0;
    }
    .mr-5 {
        margin-right: 5px;
    }
    .mr-10 {
        margin-right: 10px;
    }
    .mr-15 {
        margin-right: 15px;
    }
    .mr-20 {
        margin-right: 20px;
    }

/* End padding + margin */

/* Start color  */
    .bg-white {
        background: white;
    }
    .bg-eee {
        background-color: #eee;
    }
    .bg-blue {
        background-color: var(--blue-color);
    }
    .bg-orange {
        background-color: var(--orange-color);
    }
    .bg-green {
        background-color: var(--green-color);
    }
    .bg-red {
        background-color: var(--red-color);
    }
    .c-black {
        color: black;
    }
    .c-orange {
        color: var(--orange-color);
    }
    .c-grey {
        color: var(--grey-color);
    }
    .c-white {
        color: white;
    }
    .c-blue {
        color: var(--blue-color)
    }
    .c-green {
        color: var(--green-color);
    }
    .c-red {
        color: var(--red-color);
    }
/* End color */

/* Start position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End position */

/* Start font */
    .txt-c {
        text-align: center;
    }
    .fs-13 {
        font-size: 13px;
    }
    .fs-14 {
        font-size: 14px;
    }
    .fs-15 {
        font-size: 15px;
    }
    .fs-19 {
        font-size: 19px;
    }
    .fs-20 {
        font-size: 20px;
    }
    .fs-26 {
        font-size: 26px;
    }
    .fw-300 {
        font-weight: 300;
    }
    .fw-500 {
        font-weight: 500;
    }
    .fw-600 {
        font-weight: 600;
    }
    .fw-800 {
        font-weight: 800;
    }
    .fw-bold {
        font-weight: 900;
    }
    .l-height-2 {
        line-height: 2;
    }
/* End  font*/

/* Start border */
.border-none {
    border: none
}
.border-ccc {
    border: 1px solid #ccc;
}
    .rad-6 {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}
    .rad-10 {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End  border*/

/* Start sizing */
    .w-full {
        width: 100%;
    }
    .w-30 {
        width: 30px;
    }
    .w-50 {
        width: 50px;
    }
    .w-100 {
        width: 100px;
    }
    .w-fit {
        width: fit-content;
    }
    .h-160 {
        height: 160px;
    }
    .h-70 {
        height: 70px;
    }
    .h-full {
        height: 100%;
    }
/* End sizing */

/* Start btn */
    .btn-shape {
        padding: 6px 10px;
        border-radius: 6px ;
        -webkit-border-radius: 6px ;
        -moz-border-radius: 6px ;
        -ms-border-radius: 6px ;
        -o-border-radius: 6px ;
}
/* End  btn */

/* Start transition */
    .transition-3 {
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
}
/* End transition */